body {
    font-family: 'DM Sans', sans-serif;
    background-color: #c0e2ea;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.sidebar {
    position: fixed;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: white;
}


.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 48px;
    color: #8f8a8a;
    box-sizing: border-box;
    padding-left: 15px;

}

.sidebar ul a:hover {
    background-color: #c0e2ea;
    border-radius: 13px;
    width: 95%;
    color: #fff;

}

.sidebar image {
    width: 100%;
}

.sidebar ul a i {
    padding-right: 11px;

}

.item__list2 {
    margin-top: 20rem;
}

div .container {
    position: relative;

}

div .grid__right {
    display: flex;
    flex-direction: column;
    height: 50%;


}

div .navbar {
    display: flex;
    justify-content: flex-end;
    margin-left: 21%;
    width: 79.3%;
    height: 60px;
    background-color: white;
}


.avatar img {
    width: 43px;
    height: 43px;
    margin-top: 6px;
    margin-right: 25px;
}

.cloche svg {
    width: 29px;
    height: 29px;
    margin-top: 13px;
    margin-right: 30px;
}

.right {
    align-items: center;
    display: flex;
    border: 1px solid;
    width: 10%;

}

.box {
    background: #c0e2ea;
    margin-left: 21%;
    margin-top: 3%;
    flex-direction: column;
}

.box__fac {
    background: #fff;
    margin-left: 21%;
    margin-top: 2%;
    width: 78%;
    height: 55rem;
    border-radius: 10px;
}

.table__box {
    margin-top: 2.5rem;

}

table th {
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    padding: 15px 0;
}

table td {
    background-color: #fff;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    padding: 14px 0;
}

table input {
    width: 22rem;
    height: 3rem;
    margin-left: 33rem;
    border-radius: 11px;
    background-color: #cccccc84;
    border: #cccccc84;
}

.table__box {
    width: 100%;
}

input[type='search-box']::placeholder {
    padding: 12px;
    /* for Chrome, Firefox, Opera /
}
input[type='search-box']::placeholder:enabled
{   color: green;
      / for Chrome, Firefox, Opera */
}

table input:hover {
    border: solid 2px #79B51C;

}

table input:focus {
    border: solid 2px #79B51C;


}

tr:hover {
    background: color #cccccc84;
}

table label input[type='search-box']::placeholder:focus {
    color: green;
}

.btn_com {
    width: 6rem;
    height: 1.9rem;
    border-radius: 6px;
    border: #3697ab;
    font-size: 1em;
    font-weight: bolder;
    cursor: pointer;
    background-color: #3697ab;
    color: white;
}

button:hover {
    color: #3697ab;
    background-color: white;
    border: solid 1px #3697ab;
}

.tab__fac .head_fac {
    font-size: 17px;
    width: 49rem;
    text-align: center;
    font-weight: bold;
    border-right: 3px solid #3697ab !important;
}

.tab__fac .head_labo {
    font-size: 17px;
    width: 25em;
    text-align: center;
    font-weight: bold;
    border-right: 3px solid #3697ab !important;
}

.tab__fac .head_datef {
    font-size: 17px;
    width: 10em;
    text-align: center;
    font-weight: bold;
    border-right: 3px solid #3697ab !important;
}

.tab__fac .head_cliquezf {
    font-size: 17px;
    width: 30rem;
    text-align: center;
    font-weight: bold;
    border-right: 3px solid #3697ab !important;
}

.echa_fac_fac {
    font-size: 35px;

}

.item__image img {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #8f8a8a;
}

.facture-titre-head td {
    background: #3697ab !important;
    color: #fff !important;
    border-right: none !important;
}

.facture-titre td:hover {
    background-color: #13a9ba90;
}

/* Début param */
.param-haut {
    width: 100%;
    height: 10rem;
    padding: 1.4rem;
    border: 1px solid black;
    display: flex;
}

.param-haut div {
    width: 50%;
    border: 1px solid #3697ab;

}

.div-btn-param {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-btn-param button {
    width: 47%;
    height: 3.3rem;
    border-radius: 5px;
    outline: none;
    border: none;
}

.div-btn-param #btn-modifier-pass {
    background-color: #3697ab;
    color: #fff;
    font-size: 17px;
    font-weight: bolder;
  cursor: pointer;
}

.div-btn-param #btn-modifier-pass:hover {
    background-color: #fff;
    color: #3697ab;
    border: 2px solid #3697ab;

}

.div-btn-param #btn-supprimer-pass {
    background-color: rgba(224, 7, 7, 0.717);
    color: #fff;
    font-weight: bolder;
    font-size: 17px;
    letter-spacing: 1px;
    cursor: pointer;
}

.div-btn-param #btn-supprimer-pass:hover {
    background-color: #fff;
    color: #e00707b7;
    border: 2px solid #e00707b7;

}

.param-haut h1 {
    font-size: 30px;
    color: #8f8a8a;
}

.param-haut h2 {
    position: absolute;
    top: 10.4rem;
    left: 23rem;
    font-size: 20px;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
}

.retour-tab-bord {
    color: #6cc717e2;
}

.param-haut h2:hover {
    transition: 0.5s ease-in-out;
    letter-spacing: 2px;
}

/* ___________________PARAM-BAS____________________ */
.param-bas {
    width: 100%;
    height: 80%;
    display: flex;
}

.div-modifier-profil {
    border: 1px solid green;
    width: 65%;
    padding: 1.2rem;
    color: #8f8a8a;
}
.div-modifier-profil h2 {
    padding: 0px 0px 30px 0px
 
}

.div-modifier-profil div {
    display: flex;
    flex-direction: column;
}
.div-modifier-profil .div-nom-bio {
    padding: 0px 0px 20px 0px
}
.div-modifier-profil .div-email-bio{
    padding: 0px 0px 20px 0px
}
.div-modifier-profil div label{
   font-weight: normal;
   padding: 0px 0px 10px 0px;
width: fit-content;
font-size: 19px;
letter-spacing: 1px;
}
.div-modifier-profil div input{
    border-radius: 5px;
    border: none;
    background-color: #ecebebee;
    padding: 0px 0px 0px 10px;
    font-size: normal;
    outline: none;
 }
#input-nom-bio{
    width: 95%;
    height: 2rem;  
}
#input-email-bio{
    width: 95%;
    height: 2rem;  
}

.div-modifier-avatar {
    border: 1px solid blue;
    width: 35%;
}
#textarea-bio{
word-break: break-all;
padding: 1rem;
font-size: large;
outline: none;
}
#btn-submit-bio{
    width: 100%;
    height: 2.5rem;  
   margin-top: 1rem;
   border-radius: 5px;
   outline: none;
   border: none;
   background-color: #3697ab;
   color: #fff;
   font-weight: bold;
   font-size: medium;
}
#btn-submit-bio:hover{
   border: 2px solid #3697ab;
   background-color:  #fff;
   color: #3697ab;
   
}
/* _____________________PROFIL AVATAR__________________________ */
.div-modifier-avatar{
    padding: 1rem;
    color: #8f8a8a;
    font-size: large;
}
.div-cercle-avatar{
    width: 100%;
    background-color: #8f8a8a;
    height: 80%;
    border-radius: 60%;
}
.div-btn-photo{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: space-around;
}
.div-btn-photo button{
    outline: none;
    border: none;
    border-radius: 5px;
}
#btn-modifier-photo{
    height: 2.8rem;
    font-size: large;
    font-weight: bold;
    background-color: #3697ab;
    color: #fff;
}
#btn-modifier-photo:hover{
    border: 2px solid #3697ab;
    background-color: #fff;
    color: #3697ab;
}
#btn-supprimer-photo{
    height: 2.8rem;
    font-size: large;
    font-weight: bold;
    background-color:  #e00707b7;
    color: #fff;
}
#btn-supprimer-photo:hover{
border: 2px solid #e00707b7;
    background-color: #fff;
    color: #e00707b7;
}

@media (max-width: 1024px) {

    .echa_fac_fac {
        font-size: 30px;
        letter-spacing: 1px;
        font-weight: 600;
        position: absolute;
        margin-top: -1.2rem;
        margin-left: 2rem;
    }

    table {
        width: 100%;
        border-collapse: collapse !important;
        color: #8f8a8a !important;
    }

    .table__box {
        width: 100%;
    }

    .box__fac {
        width: 78%;
        height: 48rem;
    }

    table input {
        width: 17rem !important;
        margin-left: 43%;
        font-size: 22px;
        color: #3697ab;
        outline: none;

    }

    .tab__fac .head_fac {
        width: 35rem;
        font-size: 17px;
        border-right: 3px solid #3697ab !important;
    }

    .tab__fac .head_labo {
        width: 22rem;
        font-size: 17px;
        border-right: 3px solid #3697ab !important;
    }

    .tab__fac .head_datef {
        font-size: 17px;
        width: 15rem;
        text-align: center;
        font-weight: bold;
        border-right: 3px solid #3697ab !important;
    }

    .tab__fac .head_cliquezf {
        font-size: 17px;
        border-right: 3px solid #3697ab !important;
    }

    .facture-titre-head {
        width: 100% !important;
    }



    /* ---------------------------------------- Fin 1024 px */
    @media (max-width: 768px) {

        .item__image img {
            display: none;
        }

        .sidebar ul {
            margin-top: 4rem;
        }

        .sidebar span {
            display: none;

        }

        .sidebar {
            width: 7%;

        }

        div .navbar {
            width: 44rem;
            margin-left: 4rem;
        }

        .box__fac {
            width: 90%;
            height: 45rem;
            margin-left: 4rem;
        }

        table input {
            width: 13rem !important;
            height: 2.5rem;
            margin-left: 47%;
            margin-top: -1%;

        }

        .tab__fac .head_fac {
            width: 35rem;
        }

        .tab__fac .head_labo {
            width: 22rem;
        }

        .tab__fac .head_datef {
            width: 14rem;
        }

        .tab__fac .head_cliquezf {
            width: 30rem;
        }

        .facture-titre-head td {
            font-size: 13px !important;
        }

        table td {
            font-size: 14px;
        }

        /* ----------------------------425px----------------------------------*/
        @media (max-width: 425px) {
            .sidebar {
                width: 10% !important;
            }

            div .navbar {
                width: 89% !important;
                margin-left: 11%;
            }

            table input {
                width: 22rem !important;
                height: 2.5rem;
                left: -9rem;
                position: absolute;
            }

            .box__fac {
                width: 87.5%;
                margin-left: 11.2%;

            }

            .echa_fac_fac {
                position: absolute;
                font-size: 22px;
                left: 3rem;
                top: 8.3rem;
            }

            .echa_fac {
                height: 5rem !important;
            }

            table td {
                font-size: 13px;
            }


            .facture-titre-head td {
                font-size: 12px !important;
            }


            .tab__fac .head_fac {
                width: 80rem;
            }

            .tab__fac .head_labo {
                width: 50rem;
            }

            .tab__fac .head_datef {
                width: 54rem;
            }

            .tab__fac .head_cliquezf {
                width: 50rem;
            }

            .facture-titre-head td {
                font-size: 13px !important;
            }

            .table__box {
                overflow-x: scroll;
                width: 100%;
            }

            .tab__fac {
                font-size: 13.5px;
                width: 210%;

            }

        }

        /* ----------------------------375px----------------------------------*/
        @media (max-width: 375px) {

            .sidebar {
                width: 10% !important;
            }

            div .navbar {
                width: 89% !important;
                margin-left: 11%;
            }

            table input {
                width: 19rem !important;
                height: 2.3rem;
                left: -7.7rem;
                position: absolute;
            }

            .box__fac {
                width: 87.5%;
                margin-left: 11.2%;

            }

            .echa_fac_fac {
                position: absolute;
                font-size: 22px;
                left: 3rem;
                top: 8.3rem;
            }

            .echa_fac {
                height: 5rem !important;
            }

            table td {
                font-size: 13px;
            }

            .facture-titre-head td {
                font-size: 12px !important;
            }

            tbody {
                overflow-x: auto !important;
            }

            .tab__fac .head_fac {
                width: 45rem;
            }

            .tab__fac .head_labo {
                width: 45rem;
            }

            .tab__fac .head_datef {
                width: 54rem;
            }

            .tab__fac .head_cliquezf {
                width: 50rem;
            }

            .facture-titre-head td {
                font-size: 13px !important;
            }

            .tab__fac {
                font-size: 13.5px;
                width: 260%;

            }

            /* ----------------------------320px----------------------------------*/
            @media (max-width: 320px) {

                .sidebar {
                    width: 9% !important;
                }

                div .navbar {
                    width: 89% !important;
                    margin-left: 11%;
                }

                table input {
                    width: 16.8rem !important;
                    height: 2.3rem;
                    left: -6.8rem;
                    position: absolute;
                }

                .box__fac {
                    width: 87.5%;
                    margin-left: 11.2%;
                }

                .echa_fac_fac {
                    position: absolute;
                    font-size: 22px;
                    left: 3rem;
                    top: 8.3rem;
                }

                .echa_fac {
                    height: 5rem !important;
                }

                table td {
                    font-size: 13px;
                }

                .facture-titre-head td {
                    font-size: 12px !important;
                }

                #t_body {
                    overflow-x: auto !important;
                    z-index: 5000;
                }

                .table__box {
                    width: 100%;

                }

                .tab__fac {

                    width: 270%;

                }

                .tab__fac .head_fac {
                    width: 45rem;
                }

                .tab__fac .head_labo {
                    width: 45rem;
                }

                .tab__fac .head_datef {
                    width: 54rem;
                }

                .tab__fac .head_cliquezf {
                    width: 50rem;
                }

                .facture-titre-head td {
                    font-size: 13px !important;
                }

                .item__list1 {
                    margin-left: -10px !important;
                }

                .item__list2 {
                    margin-left: -10px !important;
                }



            }

        }
    }

}