body {
    font-family: 'DM Sans', sans-serif;
}

.SS {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.logo {
    margin-bottom: 30px;
}

.logo img {
    height: 400px;
    width: 400px;
}

.I1 {
    width: 35vw;
    height: 4vh;
    border-radius: 10px;
    border: 1px solid #8f8a8a;
    margin-bottom: 60px;
    text-decoration: none;
    font-size: 20px;
    outline: none;
    padding-left: 10px;

}

.I1:hover {
    border: 2px solid #4A96A6;
}

.I2 {
    width: 35vw;
    height: 4vh;
    border-radius: 10px;
    border: 1px solid #8f8a8a;
    margin-bottom: 60px;
    text-decoration: none;
    font-size: 20px;
    outline: none;
    padding-left: 10px;
}

.I2:hover {
    border: 2px solid #4A96A6;
}

.f {
    margin-top: -3rem;
    margin-left: 15px;
    font-size: 18px;
    color: #767676;
    margin-left: -18rem;
}

.input-2-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    margin-top: 45px;
    width: 35vw;
    height: 4vh;
    border-radius: 10px;
    border: 1px solid #4A96A6;
    background-color: #4A96A6;
    cursor: pointer;
    color: white;
    font-size: 18px;
}

.button:hover {
    background-color: #fff;
    border: 2px solid #4A96A6;
    color: #4A96A6;

}


@media (max-width:1024px) {
    .logo img {
        height: 350px;
        width: 350px;
    }

    .I1 {
        width: 38vw;
        height: 4.5vh;
        margin-bottom: 50px;
        font-size: 19px;

    }

    .I2 {
        width: 38vw;
        height: 4.5vh;
        font-size: 19px;

    }

    .f {
        margin-top: -3rem;
        font-size: 14px;
        margin-left: -15rem;
    }

    .button {
        margin-top: 35px;
        width: 38vw;
        height: 4.5vh;
        font-size: 17px;
    }
}

@media (max-width:768px) {

    .logo img {
        height: 250px;
        width: 250px;
    }

    .I1 {
        width: 36vw;
        height: 4.5vh;
        margin-bottom: 40px;
        font-size: small;

    }

    .I2 {
        width: 36vw;
        height: 4.5vh;
        font-size: small;

    }

    .f {
        margin-top: -3.5rem;
        font-size: 13px;
        margin-left: -8rem;
    }

    .button {
        margin-top: 35px;
        width: 35vw;
        height: 4.5vh;
        font-size: 15px;
    }

}

@media (max-width:425px) {

    .logo img {
        height: 250px;
        width: 250px;
    }

    .I1 {
        width: 20rem;
        height: 4.5vh;
        margin-bottom: 40px;
        font-size: small;

    }

    .I2 {
        width: 20rem;
        height: 4.5vh;
        font-size: small;

    }

    .f {
        margin-top: -3.5rem;
        font-size: 14px;
        margin-left: -11rem;
    }

    .button {
        margin-top: 35px;
        width: 20rem;
        height: 4.5vh;
        font-size: 15px;
    }

}

@media (max-width:375px) {

    html {
        overflow-x: hidden;
    }

    .I1 {
        width: 19rem;

    }

    .I2 {
        width: 19rem;
    }


    .button {
        width: 21rem;

    }

    .logo img {
        height: 230px;
        width: 280px;
    }

    .f {
        margin-left: -10rem;
    }
}

@media (max-width:320px) {
    html {
        overflow-x: hidden;
    }

    .I1 {
        width: 16rem;
        height: 4.5vh;


    }

    .I2 {
        width: 16rem;
        height: 4.5vh
    }

    .input-2-link {
        width: auto;
    }


    .button {
        width: 16.3rem;
        height: 4.5vh;

    }

    .logo img {
        height: 150px;
        width: 210px;
    }

    .f {
        margin-left: -8rem;
    }
}

/* __________________________POPUP INCORRECT__________________________ */
.popup-password-incorrect {
    position: absolute;
    width: 34rem;
    height: 7rem;
    top: 5%;
    left: 59%;
    z-index: 1000 !important;
    border: 1px solid #4A96A6;
    border-radius: 7px;
    transition: 1s ease-in-out;
    display: none;
}

.haut-incorrect {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4A96A6;
    color: #fff;
    font-size: 26px;
    border-radius: 6px 6px 0px 0px;
}

.bas-incorrect {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #13af1b;
    font-size: 20px;
    border-radius: 0px 0px 6px 6px;
}

/* __________________________POPUP BANNI */
.popup-password-banni {
    position: absolute;
    width: 34rem;
    height: 7rem;
    top: 5%;
    left: 59%;
    z-index: 1000 !important;
    border: 1px solid #4A96A6;
    border-radius: 7px;
    transition: 1s ease-in-out;
    display: none;
}

.haut-banni {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4A96A6;
    color: #fff;
    font-size: 26px;
    border-radius: 6px 6px 0px 0px;
}

.bas-banni {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #13af1b;
    font-size: 20px;
    border-radius: 0px 0px 6px 6px;
}

/* __________________________POPUP TIMER DEBLOCKAGE */
.popup-timer-deblockage {
    position: absolute;
    width: 18rem;
    height: 8rem;
    top: 9%;
    left: 69%;
    z-index: 1000 !important;
    border: 1px solid #4A96A6;
    border-radius: 7px;
    transition: 1s ease-in-out;
    display: none;
}

.haut-timer {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4A96A6;
    color: #fff;
    font-size: 26px;
    border-radius: 6px 6px 0px 0px;
}

.bas-timer {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #13af1b;
    font-size: 29px;
    border-radius: 0px 0px 6px 6px;
}